{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <h1>Calculadora</h1>
        <p>Como usar:</p>
        <p>URL/operacion/digito1/digito2</p>
        <p>Operaciones disponibles</p>
        <ul>
            
            <li><a href="/suma/1/1">Suma</a></li>
            <li><a href="/resta/1/1">Resta</a></li>
            <li><a href="/multiplicacion/1/1">Multiplicación</a></li>
            <li><a href="/division/1/1">División</a></li>
        </ul>
    </div>
</div>
{% endblock %}